<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8f63cc03-03cc-4ba7-84ad-1ec605ee956e/resourceGroups/PredicaTest/providers/Microsoft.ContainerRegistry/registries/predicatest</ResourceId>
    <ResourceName>predicatest</ResourceName>
    <ResourceGroup>PredicaTest</ResourceGroup>
    <Subscription>Płatność zgodnie z rzeczywistym użyciem</Subscription>
    <RegistryUrl>https://predicatest.azurecr.io/</RegistryUrl>
    <UserName>predicatest</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>465d5485-5155-4615-8a51-3eb21413e1b9</ProjectGuid>
  </PropertyGroup>
</Project>